<div>
    <button type="button" class="btn btn-block btn-sm btn-danger" ui-sref="main.new_email">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> New email
    </button>

    <br />

    <div class="list-group">
        <a href="#" class="list-group-item" ui-sref="main.received_list" ui-sref-active="active">
            Received <span class="badge">{{mainCtrl.receivedUnreadEmailsCnt}}</span>
        </a>
        <a href="#" class="list-group-item" ui-sref="main.sent_list" ui-sref-active="active">Sent</a>
        <a href="#" class="list-group-item" ui-sref-active="active" ui-sref="main.trash_list">Trash</a>
    </div>
</div>